{
  "extends": "next",
  "rules": {
    "import/no-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": ["error", { "json": "always", "js": "ignorePackages" }],
    "no-nested-ternary": "off",
    "no-var": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-plusplus": "off"
  }
}
